.header-wrapper {
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(min-content, 10rem)) 1fr;
  position: relative;
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: -14rem;
    left: 0rem;
    width: 26rem;
    height: 26rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../../public/webp/hand-left.webp");
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    width: 25rem;
    height: 45rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../../public/webp/hand-right.webp");
    z-index: -1;
  }
}

.header {
  grid-column: 2/14;
  margin-top: 10rem;

  &__hero {
    &--heading {
      font-family: $font-secondary;
      font-size: 9rem;
      line-height: 100%;
      letter-spacing: -0.03em;
      color: var(--color-white);
      position: relative;
      span {
      }

      &-gradient {
        background: linear-gradient(
          -45deg,
          var(--color-light-blue),
          var(--color-light-purple),
          var(--color-light-blue),
          var(--color-light-purple)
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400% 400%;
        animation: gradient 3s ease infinite;
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 25rem;
        right: 40rem;
        width: 12rem;
        height: 12rem;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("../../public/webp/coffetti.webp");
      }
    }
    &--cta {
      margin-top: 13rem;
      display: inline-block;
      font-family: $font-tertiary;
      font-size: 1.8rem;
      line-height: 92.4%;
      letter-spacing: 0.19em;
      color: var(--color-gray);
      text-decoration: none;
      position: relative;

      &::after {
        display: block;
        content: "";
        position: absolute;
        bottom: -1rem;
        left: 0;
        width: 50%;
        height: 1px;
        background: var(--color-gray);
        transition: all 0.3s ease;
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }

  &__footer {
    grid-column: 1/15;
    padding: 0 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16rem;

    &--right {
      width: 12%;
      @include centerContent;
    }
    a {
      color: var(--color-gray);
      text-decoration: none;
      font-family: $font-tertiary;
      line-height: 92.4%;
      letter-spacing: -0.03em;
      text-transform: uppercase;
    }
  }
}
