// FONTS
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$font-primary: 'Poppins', sans-serif;

// COLORS
:root {
  --color-white: #ffffff;
  --color-grey: #6a6a6a;
  --color-black: #000000;
  --color-gold: #fabe7d;
}
