*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  // border: solid 2px red;
}

html {
  // font-size: 62.5%;
  font-size: 58%;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;

  @media only screen and (max-width: 62.5em) {
    // font-size: 56.25%;
    font-size: 51.25%;
  }

  @media only screen and (max-width: 56.25em) {
    // font-size: 54%;
    font-size: 49%;
  }

  @media only screen and (max-width: 37.5em) {
    // font-size: 51%;
    font-size: 46%;
  }

  @media only screen and (min-width: 140.5em) {
    font-size: 75%;
  }
}

body {
  font-family: $font-primary, sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  // background: linear-gradient(115deg, #1a1e2b, #10101a, #1a1e2b, #10101a);
  background: #10101a;
  background-size: 400% 400%;
  // animation: gradient 3s ease-in-out infinite alternate;
}

.container {
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(min-content, 10rem)) 1fr;
}

// cursor
.cursor {
  width: 8rem;
  height: 8rem;
  position: absolute;
  top: 40%;
  right: 20%;
  pointer-events: none;
  transition: left top 0.1s ease-in-out;
  z-index: 1233333;
  background-image: url("../public/svg/cursor.svg");
  background-size: contain;
  background-repeat: no-repeat;
  animation: cursorAnim 10s infinite linear;

  @media only screen and (max-width: 52.5em) {
    opacity: 0;
  }
}

// preloader
.preloader {
  width: 100vw;
  height: 100vh;
  background-color: #10101a;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 129993994;
  display: grid;
  place-content: center;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__left {
    margin-right: 1rem;
  }

  &__right {
    margin-left: 1rem;
    width: max-content;
    height: 4rem;
    overflow: hidden;
    position: relative;

    &::before {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      background-image: linear-gradient(
        to bottom,
        #10101a 5%,
        rgba(#10101a, 0) 30%
      );
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
    &::after {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      background-image: linear-gradient(
        to top,
        #10101a 5%,
        rgba(#10101a, 0) 30%
      );
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }

  &__text {
    font-family: $font-tertiary;
    font-weight: bold;
    font-size: 18px;
    line-height: 210%;
    letter-spacing: 0.19em;
    color: var(--color-white);
    animation: preloaderTextAnim 12s linear;
    animation-delay: 3s;
  }
}

/*! locomotive-scroll v4.1.1 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}
.c-scrollbar:hover {
  transform: scaleX(1.45);
}
.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}
[data-scroll-direction="horizontal"] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  transform: scaleY(1);
}
[data-scroll-direction="horizontal"] .c-scrollbar:hover {
  transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}
.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}
